@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

$white:#F4F1DE; 
$red:#e07a5f;
$blue:#3d405b;
$green:#81b29a;
$yellow:#f2cc8f;


body {
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    background-color: $white;
    max-width: 1920px;
    margin: 0 auto;
}

.header{
    background-color: $red;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    &__logo{
        width: 200px;
        margin-right: 5%;
    }
    &__button{
        font-family: 'Oswald', sans-serif;
        margin-right: 5%;
        background-color: $yellow;
        cursor: pointer;
    }
}
.nav-panel{
    display: flex;
    width: 50%;
    justify-content: space-around;
    &__element{
        display: flex;
        background-color: $yellow;
        margin-right: 10%;
        width: 200px;
        height: 30px;
        align-items: center;
        justify-content: center;
        transition-property:color, background-color;
        transition-duration: .3s;
        &:hover{background-color: #b89968;
                color:$white

        }
    }
}
.h1-heading{
    text-align: center;
}
.h2-heading{
    margin-left: 20px;
}
.h3-heading{
    text-align: center;
}
.card{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: $green;
    margin-bottom: 50px;
    &__picture{
        display: block;
        width: 80%;
        margin:0 auto;
    }
    &__text{
        padding-left:10px;
        padding-right:10px;
    }
    &__list{
        align-self: flex-start;
    }
}
.selection{
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-around;
}
footer{
    display: flex;
    align-content: center;
    background-color: $red;
    height: 60px;
}


.feedback{
    &__form{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(200px,auto));
        max-width: 400px;
    }
    &__fieldset{
        max-width: 400px;
        margin:0 auto;
        background-color: $yellow;
    }
    &__input{
        display: block;
        margin:0 auto;
    }
    &__textarea{
        display: block;
        resize: none;
        width: 98%;
        margin:0 auto;
    }
    &__label{
        text-align: center;
    }
    &__button{
        grid-column-start: 1;
        grid-column-end: 3;
        width: 100px;
        margin: 20px auto;
    }
}

.skip-link{   
&:not(:focus){
    position: absolute;
    left:0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    
}
}

@keyframes shine{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
@media (max-width:800px){
    .header{font-size: 0.7em;}   
}

@media (max-width:574px){

    .header{
        font-size: 0.5em;
        &__logo{
            width: 100px;
        }
        &__button{
            font-size: 0.5em;
        }
    }
}
